[Unit]
Description=Blink Drive (USB Gadget) Service - Simple
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/blink-sync-brain/start_storage_mode.sh
RemainAfterExit=yes
User=root
Group=root
Restart=no
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
